body {
    background-color: #2874A6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    width: 90%;
    max-width: 900px;
    background-color: #FBFCFC;
    padding: 40px;
    border-radius: 10px;
    box-sizing: border-box;
}

h2 {
    margin-top: 20px;
}

input[type="radio"],
input[type="text"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

div {
    text-align: center;
}

.submit-button,
.return-button {
    color: #FBFCFC;
    margin-right: 10px;
    padding: 10px 18px;
    background-color: #17202A;
    text-decoration: none;
}
